body {
  padding: 0;
  margin: 0;
  font-family: 'Candara';
  background: #c6c6b8 url(../../assets/template/img/bg_pattern.png) no-repeat;
}
@font-face {
  font-family: 'Candara';
  src: url('../../assets/template/font/Candara.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#container {
  overflow: hidden;
  height: 768px;
  width: 1366px;
}
#video-options,
#videoPlayer {
  width: 1268px;
  margin: 40px auto 0;
}
.hidden {
  display: none;
}
.video-button {
  cursor: pointer;
  display: inline-block;
  margin-right: 70px;
  width: 257px;
  height: 547px;
}
.video-button:last-child {
  margin-right: 0px;
}
.video-button img {
  position: relative;
  top: 15px;
  left: 15px;
}
.video-prompts {
  padding: 12px 25px 0 25px;
}

h1 {
  font-size: 36px;
  margin: 36px 0 0;
  padding: 0;
}
h1, h2 {
  text-align: center;
}
h2 {
  color: #666660;
  font-size: 28px;
  margin: 0;
  padding: 0;
}
h3, h4 {
  color: #FFFFFF;
  font-weight: normal;
}
h3 {
  font-size: 16px;
}
h4 {
  font-style: italic;
  font-size: 14px;
}

#back {
  width: 164px;
  position: absolute;
  bottom: 0;
  left: 560px;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0 0 8px #666;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}
#back p {
  margin: 0;
  padding: 0;
}
#back p:last-child {
  font-size: 16px;
  margin-top: 4px;
}

.screensaver {
  margin-top: -40px;
}

/* Component-specific themes */
body.sites_today .video-button {
  background: url(../../assets/template/img/kiosk_red_button_bg.png) no-repeat;
}
body.sites_today #back {
  background: #8b0b1d;
}

/* Just for testing - can remove when other legit ones are ready */
body.blue .video-button {
  background: url(../../assets/template/img/kiosk_blue_button_bg.png) no-repeat;
}
body.blue #back {
  background: #0c4e8c;
}
