body {
  padding: 0;
  margin: 0;
  font-family: 'Candara';
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#container {
  overflow: hidden;
  height: 768px;
  width: 1366px;
}
#video-options,
#videoPlayer {
  width: 1268px;
  margin: 40px auto 0;
}
.hidden {
  display: none;
}
.video-button {
  cursor: pointer;
  float: left;
  margin-right: 70px;
  width: 257px;
  height: 547px;
}
.video-button:last-child {
  margin-right: 0px;
}
.video-button img {
  position: relative;
  top: 15px;
  left: 15px;
}
.video-prompts {
  padding: 12px 25px 0;
}
h1 {
  font-size: 40px;
  margin: 36px 0 0;
  padding: 0;
}
h1, h2 {
  text-align: center;
}
h2 {
  font-size: 31px;
  margin: 0;
  padding: 0;
}
h3, h4 {
  font-weight: normal;
}
h3 {
  font-size: 19px;
}
h4 {
  font-style: italic;
  font-size: 15px;
}
#back {
  width: 164px;
  position: absolute;
  bottom: 0;
  left: 560px;
  cursor: pointer;
  box-shadow: 0 0 8px #666;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}
#back p {
  margin: 0;
  padding: 0;
}
#back p:last-child {
  font-size: 16px;
  margin-top: 4px;
}
.screensaver {
  margin-top: -40px;
}

/**
 * Component-specific themes
 * These are triggered by the body class.
 * The body class is set with the value from the config file when the page loads.
 */

/* 0211: GLYPH DECIPHERMENT */
body.glyph_decipher {
  background: #ead8c6 url(../../assets/template/img/0211_bg_pattern.png) no-repeat;
}
body.glyph_decipher .video-button {
  background: url(../../assets/template/img/0211_button.png) no-repeat;
}
body.glyph_decipher h1,
body.glyph_decipher h2 {
  color: #47322b;
}
body.glyph_decipher h2 {
  opacity: .75;
}
body.glyph_decipher h3,
body.glyph_decipher h4,
body.glyph_decipher #back {
  color: #efe9e5;
}
body.glyph_decipher #back {
  background: #47322b;
}

/* 0409: DAY KEEPERS */
body.day_keepers {
  background: #080c10 url(../../assets/template/img/0409_bg_pattern.png) no-repeat;
}
body.day_keepers .video-button {
  background: url(../../assets/template/img/0409_button.png) no-repeat;
}
body.day_keepers h1,
body.day_keepers h2 {
  color: #ebb32b;
}
body.day_keepers h2 {
  opacity: .38;
}
body.day_keepers h3,
body.day_keepers h4 {
  color: #080c10;
}
body.day_keepers #back {
  background: #00233e;
  color: #7998f1;
  box-shadow: 0 0 8px #000000;
}

/* 0515: SITES TODAY */
body.sites_today {
  background: #c6c6b8 url(../../assets/template/img/0515_bg_pattern.png) no-repeat;
}
body.sites_today .video-button {
  background: url(../../assets/template/img/0515_button.png) no-repeat;
}
body.sites_today h1,
body.sites_today h2 {
  color: #522523;
}
body.sites_today h2 {
  opacity: .75;
}
body.sites_today h3,
body.sites_today h4,
body.sites_today #back {
  color: #efe9e5;
}
body.sites_today #back {
  background: #8b0b1d;
}

/* 604, 1115, 1117: BALLGAME, WEAVING, AGRICULTURE */
body.ballgame,
body.weaving,
body.agriculture {
  background: #e3dec5 url(../../assets/template/img/0604-1115-1117_bg_pattern.png) no-repeat;
}
body.ballgame .video-button,
body.weaving .video-button,
body.agriculture .video-button {
  background: url(../../assets/template/img/0604-1115-1117_button.png) no-repeat;
}
body.ballgame h1,
body.weaving h1,
body.agriculture h1,
body.ballgame h2,
body.weaving h2,
body.agriculture h2 {
  color: #564b22;
}
body.ballgame h2,
body.weaving h2,
body.agriculture h2 {
  opacity: .75;
}
body.ballgame h3,
body.weaving h3,
body.agriculture h3,
body.ballgame h4,
body.weaving h4,
body.agriculture h4,
body.ballgame #back,
body.weaving #back,
body.agriculture #back {
  color: #f2ebc8;
}
body.ballgame #back,
body.weaving #back,
body.agriculture #back {
  background: #71632d;
}

/* 0807: HUMAN REMAINS */
body.human_remains {
  background: #4e4039 url(../../assets/template/img/0807_bg_pattern.png) no-repeat;
}
body.human_remains .video-button {
  background: url(../../assets/template/img/0807_button.png) no-repeat;
}
body.human_remains h1,
body.human_remains h2 {
  color: #a4c492;
}
body.human_remains h2 {
  opacity: .75;
}
body.human_remains h3,
body.human_remains h4 {
  color: #39322f;
}
body.human_remains #back {
  background: #39322f;
  color: #efe9e5;
  box-shadow: none;
}
