/**
 * Kiosk-specific configuration file.
 *
 * To use:
 * 1. Set the component name value below.
 * 2. Rename this file to config.json.
 * 3. Delete this comment block.
 *
 * The component name value should match the name of the object 
 in content/maya_interviews.js which holds this kiosk's content.
 *
 * Example:
 *  { "component_name": "sites_today" }
 *
 */

{ "component_name": "PUT THE NAME HERE" }
